$bodyBg: #fff;
$menuBgColor: #D0B19499;
$menuMobilBg: #CBB097E8;
$reasonsBg: #F4E8DA2E;
;



$textColorFirst: #fff;
$textColorSecond: #693030;
$textColorThree: #3C3D3D;
$textColorFour: #2F2F2F;
$linkHover: #693030;
$popUpLink: #DBAF15;


$fontFirst: 'Montserrat', sans-serif;
$fontSecond:"Cormorant Garamond", serif;
$fontThree: "Lato", sans-serif;